.first {
    background-color: #5b42af;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    height: 100px;
    padding-top: 1px;
    padding-left: 14px;
    width: 300px;
    margin-left: 8px;
    margin-top: 7px;
}
.second {
    background-color: #5b42af;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    height: 60px;
    padding-top: 1px;
    padding-left: 14px;
    width: 300px;
    margin-left: 8px;
    margin-top: 7px;

}
.third {

    background-color: #5b42af;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    height: 128px;
    padding-top: 1px;
    padding-left: 14px;
    width: 300px;
    margin-left: 8px;
    margin-top: 7px;

}

.button {
    font-size: 14px;
}

.h2 {
    margin-top: 5px !important;
    font-size: 24px !important;
    margin-left: 20px !important;
}