

h3 {
    color: var(--ion-color-primary);
}

h5 {
    color: var(--ion-color-primary);
    

}

.profilecircle{
    padding: 5px;
    width: 200px;
    margin-top: 25px;
    height: 200px;
    border-radius: 100%;
    background: white;
    border: 2px solid grey;
   
}